[submodule "openpi"]
	path = openpi
	url = git@github.com:peek-robot/openpi.git
[submodule "lerobot"]
	path = lerobot
	url = git@github.com:peek-robot/lerobot.git
[submodule "point_tracking"]
	path = point_tracking
	url = git@github.com:peek-robot/point_tracking.git
[submodule "peek_vlm"]
	path = peek_vlm
	url = https://github.com/memmelma/peek_vlm.git
[submodule "threedda"]
	path = threedda
	url = https://github.com/peek-robot/threedda
	branch = main
